RABBIT_HOST=test
RABBIT_PORT=5672
RABBIT_USER=test
RABBIT_PASSWORD=test
RABBIT_VHOST=test
RABBIT_HEARTBEAT=60
RABBIT_EXCHANGE=test
RABBIT_EXCHANGE_TYPE=test
RABBIT_EXCHANGE_DURABLE=test
RABBIT_EXCHANGE_AUTODELETE=test

PG_DB_HOST=localhost
PG_DB_PORT=5432
PG_DB_USER=test
PG_DB_PASSWORD=test
PG_DB_NAME=test
